.container-10
    display: flex
    flex-wrap: wrap
    ul.left-side
        list-style: none
        flex: 1
        display: flex
        flex-wrap: wrap
        .box10-1
            margin-right: 30px
            position: relative
            .photo-1
                .background
                    background-color: $black
                   .transbox
                        img  
                            opacity: .2
                        #lolo1
                            font-weight: bold
                            font-size: 20px
                            position: absolute
                            opacity: .3
                            background-color: $red
                            color: $white
                            text-align: center
                            top: 0
                            left: 5%
                            padding: 2px 15px
                            span 
                                display: block
                            #s2
                                font-size: 14px
                        a  
                            color: white
                            border: 1px solid white
                            padding: 8px 20px
                            position: absolute
                            top: 45%
                            right: 30%
        .box10-2
            .one-par
                font-size: 14px
                font-weight: bold
                margin-bottom: 0
            h5 
                margin-top: 0
                a
                    color:$red
                i  
                    margin-right: 2px
            .two-par
                color: $gray
                font-size: 14px
                letter-spacing: -.5px
                margin-top: 30px
                margin-bottom: 10px
            a
                color: $black
    ul.right-side
        list-style: none
        flex: 1
        display: flex
        
        .box10-3
            margin-right: 30px
            position: relative
            #lolo2
                font-weight: bold
                font-size: 20px
                position: absolute
                background-color: $red
                color: $white
                text-align: center
                top: 0
                left: 5%
                padding 2px 15px
                span 
                    display: block
                #s2
                    font-size: 12px
                        
        .box10-4
            .one-par
                font-size: 14px
                font-weight: bold
                margin-bottom: 0
            h5 
                margin-top: 0
                a
                    color:$red
                i  
                    margin-right: 2px
            .two-par
                color: $gray
                font-size: 14px
                letter-spacing: -.5px
                margin-top: 30px
                margin-bottom: 10px
            a
                color: $black

        

    