
.container-2
    display: flex
    flex-wrap: wrap
    position: relative
    .second-part
        flex: 1
        padding-top: 18px
        padding-bottom 18px
        justify-content: flex-start
        margin-bottom 0
        padding-left: 0
        margin-right: 50px
        ul 
            list-style: none
            display: flex
            padding-left 0
            
            #start
                color: $red
                font-size: 16px
                font-weight: bold
                margin-right: 4px
                font-family: Times
            .fa-shopping-basket
                margin: 4px
            .end
                font-size: 12px
                margin-top: 4px
                color: $gray
    .social 
        flex: .4
        margin-bottom 0
        padding-left 0
        ul 
            list-style: none
            display: flex
            padding-left 0
            justify-content: flex-direction left 30px
            li a i 
                color: $black 
                padding: 5px 15px
                font-size: 18px
            li a .fa-linkedin, .fa-twitter, .fa-instagram, .fa-facebook-f
                border-right: 1px solid $white
                padding: 22px 18px
            li a .fa-youtube
                padding: 22px 18px

                