.container-1
    display: flex
    flex-wrap: wrap
    margin-top: 120px
    .box-1
        flex: 1
        .topic ul
            list-style: none
            h1
                font-size: 19px
                font-weight: bold
                color: $black
            .para
                margin-top: 25px
                font-size: 12px
                color: $gray
        .social-media
            flex: 1
            position: relative
            margin-top: 14px
            ul 
                list-style: none
                display: flex
                li a i 
                    color: $black 
                    padding: 5px 15px
                    font-size: 18px
                li a .fa-linkedin, .fa-twitter, .fa-instagram, .fa-facebook-f, .fa-youtube-square 
                    border: 1px solid $back
                    padding: 15px
                    margin: 2px
                li a .fa-facebook-f
                    padding: 15px 18px
        .contact-us
            margin-bottom: 20px
            ul 
                list-style: none
                margin-top: 20px
                li i  
                    color: $white
                    margin: 5px
                    padding: 8px
                    background-color: $red
                    border-radius: 50%
                li a 
                    color: $gray
                    margin-left: 3px
        .money-icons
            ul 
                list-style: none
                display: flex
                li a img 
                    margin-right: 14px                    
    
    .box-2
        flex: 2.5
        
        .container-2
            display: flex
            
            .box2-1
                flex: .1
                .piece1
                    p
                        margin: 0
                        font-size: 22px
                        margin-top: 4px
                        font-weight: bold
                        span 
                            color: $red
            .box2-2
                flex: .8
                .has-feedback
                    input
                        border: 1px solid $white
                        border-radius: 0
                        padding: 25px 20px
                        padding-left: 10px
                        margin-top: 14px
                    input::placeholder
                            color: $white
            .box2-3
                flex: .1
                margin-top: 32px
                a
                    color: white
                    border: 1px solid $red
                    background-color: $red
                    padding: 14px 22px
                    


    .container-3
        background-color: $red 
        display: flex  
        flex-wrap: wrap
        margin-top: 45px
        .box2-1
            h2
                font-size: 20px
                font-weight: bold
                width: auto
                
        .box3-1
        .box3-2
        .box3-3
            ul 
                list-style: none
                display: block
                padding-left 20px
                padding-bottom: 35px
                padding-right 70px
                li h3
                    color: $white
                    margin-bottom: 22px
                    padding-top: 20px
                    font-weight: bold
                    font-size: 22px
                li 
                    padding-bottom: 9px
                    a 
                        color: white


.finish
    background-color $white
    padding: 20px
    color: $gray
    margin-top: 10px
    bottom: 0
    left: 0
    text-align: center