.gallery-view 
    margin-top: 90px
    padding-left 0
    div.col-xs-12
        padding: 0
        ul
            list-style: none
            display: flex
            flex-wrap: wrap
            padding-left: 0
            .first-unordered
                flex: .55
            .second-unordered
                flex: 1.13
            .third-unordered
                flex: .55
            li ul 
                display: block
                padding: 0
            li ul #picture-two
                padding-top 20px
            #word, li ul #picture-one, li ul #picture-two
                position: relative
                h1
                    position: absolute
                    top: 3.5%
                    left: 5%
                    color: white
                    font-size: 55px
                    font-weight: bold
                h2
                    position: absolute
                    top: 15%
                    left: 5%
                    color: $red
                    font-size: 50px
                    font-weight: bold
                p
                    position: absolute
                    top: 30%
                    left: 7%
                    color: white
                    font-size: 16px
                h4
                    position: absolute
                    top: 8%
                    left: 40%
                    font-weight: bold
                    color: $red
                    font-size: 16px
                p#parag
                    position: absolute
                    left: 25%
                    top: 17%
                    color: $red
                    width: auto
                    font-weight: normal
                    font-size: 20px
                    span 
                        color: black
                        font-size: 30px
                        font-weight: bold
                h5
                    position: absolute
                    bottom: 20%
                    left: 10%
                    font-weight: bold
                    color: white
                    font-size: 14px 
                    span 
                        font-size: 24px
                p#parag2
                    position: absolute
                    top: 73%
                    left: 10%
                    color: white
                    font-size: 50px 




                

