
.grid-viewing
    padding-left 0
    .col-xs-12
        padding-left 0
        .carousel
            .carousel-inner
                div.active
                    ul.thumbnails
                        list-style: none
                        li.col-sm-3
                            padding-left 5px
                            .fff
                                .thumbnail
                                    a img
                                        border-radius 0
                                .caption
                                    h4
                                        margin-top 8px
                                        font-size: 14px
                                        letter-spacing: -.7px  
                                        color: $black
                                    .pricing
                                        margin-top: 15px
                                        margin-bottom: 20px
                                        ul.sub-caption
                                            list-style: none
                                            display: flex
                                            li#dollar
                                                font-weight: bold
                                                position: absolute
                                                left: 6%
                                                font-size: 16px
                                                color: $black
                                        ul.sec-sub-caption
                                            list-style none
                                            display: flex
                                            flex: 1
                                            justify-content: flex-end
                                            li a i 
                                                color: $red
                                                margin: 2px
                                                font-weight: bold
                                            li a .white 
                                                color: $back