@import coloring
@import heading
@import center
@import disk
@import shipping
@import arrivals
@import grid
@import gallery
@import tables
@import blogs
@import footer
html, body
    margin: 0
    padding: 0
    box-sizing: border-box

  


    
        

        


        

    