.container
    .row
        margin-right 0
        margin-left 0
        #sell
            display: flex
            border: 2px solid $white
            margin-bottom: 30px
            .table
                width: 50%
                max-width: 100%
                margin-bottom 0
                border: 5px solid $white
                i
                    color: $white
                thead
                    h20
                        font-weight: normal
                    h21
                        color: $red
                        font-size: 15px
                        padding: 10px
                        margin-top: 20px 
                        font-family: Times   
                tbody
                    a
                        padding: 10px
                        font-weight: normal
                        margin-bottom 20px
                        color: $black
                        :hover
                            text-decoration: none
                    #shop-now
                        font-weight: bold
                        font-family: Times
                
                ul.sec-sub-caption
                    list-style none
                    display: flex
                    padding-left: 4px
                    padding-top: 4px
                    margin-bottom: 0
                    li a i 
                        color: $red
                        font-weight: bold
                        font-size: 12px
                        letter-spacing: -5px
                        padding: 5px
                    li a .white 
                        color: $back
                    
                h22
                    color: $back
